@charset "UTF-8";

.canvas-wrapper {
    position: relative;
    border: 1px solid;
}
.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]{
	display:none;
}
input[type="checkbox"]{
	display:none;
}

input[type="checkbox"]:checked + img{
	background-color: lightgray;
}

img{
	width:40px;
}

input[type="radio"]:checked + .radio_image{
	background-color: lightgray;
}

input[type="image"]{
	width:40px;
}