<html xmlns:th="http://www.thymeleaf.org">
<!--引数の title, links は fragment expressions */-->
<th:block th:fragment="header">
	<!--/* 共通タイトル */-->
	<title>Training</title>
  <!--/* 必ず読み込むファイル */-->
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap-4.1.3-dist/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
  <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap-4.1.3-dist/bootstrap.min.js}"></script>

</th:block>

<th:block th:fragment="sidebar">
	<div id="sidebar" class="list-group bg-dark text-light fixed-top" style="height:100%;width:200px;">
	<div id="sidebar_title" class="px-2 py-3">
		<font size="5" face="Comic Sans MS,Monotype Corsiva,HG行書体">Training</font>
	</div>
	<div class="list-group-item btn bg-dark text-left">
		<a href="/" class="text-light">トップ</a>
	</div>
	<div class="list-group-item btn bg-dark text-left" data-toggle="collapse" href="#sidetList2" aria-expanded="false" aria-controls="sidetList2">
		bootstrap4　▼
	</div>
	<div class="collapse pl-3" id="sidetList2">
		<div class="list-group text-light">
			<div class="list-group-item bg-secondary">
				<a href="/list1-1" class="text-light">参考リンク一覧</a><br>
				<a href="#" class="text-light">リスト1-2</a><br>
				<a href="#" class="text-light">リスト1-3</a><br>
			</div>
		</div>
	</div>
	<div class="list-group-item btn bg-dark text-left" data-toggle="collapse" href="#sidetList3" aria-expanded="false" aria-controls="sidetList3">
		いろいろ　▼
	</div>
	<div class="collapse pl-3" id="sidetList3">
		<div class="list-group text-light">
			<div class="list-group-item bg-secondary">
				<a href="/create_icon" class="text-light">アイコン作成</a><br>
				<a href="#" class="text-light">リスト1-2</a><br>
				<a href="#" class="text-light">リスト1-3</a><br>
			</div>
			<button type="submit">Logout</button>
		</div>
	</div>
</div>
</th:block>


<th:block th:fragment="topbar">
	<nav class="navbar navbar-expand-md navbar-light bg-light border">
		<span class="navbar-brand">トップ</span>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="#">ホーム <span class="sr-only">(現位置)</span></a>
				<a class="nav-item nav-link" href="#">リンク1</a>
				<a class="nav-item nav-link" href="#">リンク2</a>
				<a class="nav-link disabled" href="#">無効</a>
			</div>
		</div>
	</nav>
</th:block>

</html>